html, body { 
  height:100%;
  background-color: #3d3939;
}

.mainContent {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d3939;
  color: rgb(219, 219, 219);
}

.row {
  width: 75%;
}

.flex-item {  
  text-align: center;  
}

.hexData {
  overflow-wrap: break-word;
  color: rgb(219, 219, 219);
}

.headerContent {
  background-color: #000000;
  min-height: 15vh;
  padding-right: 10px;
  font-size: 17px;
  color: white;
}

.vebaltitle {
  font-size: 24px;
  color: rgb(219, 219, 219);
}

.button {
  border: none;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 14px;
}

.dropdown {
  font-size: 18px;
}